.center-block {
    display: block;
    max-width: 25%;
    height: auto;
  }

.tableauPlaceholder {
  margin-left: 350px;
  margin-right: 300px;
  
}

.container {
  width:700px;
  height:600px;
}

.title {
  margin-left: 400px;
  color:rgb(45, 43, 43);
}

.title0 {
  margin-left: 340px;
  color:rgb(45, 43, 43);
}

.title1 {
  margin-left:450px;
}