.center-block {
    display: block;
    max-width: 25%;
    height: auto;
  }

.tableauPlaceholder {
  margin-left: 350px;
  margin-right: 300px;
  left:-360px
}


.tableauPlaceholder1 {
  margin-left: 350px;
  margin-right: 300px;
  right:115px;
  
}
.tableauPlaceholder2 {
  margin-left: 350px;
  margin-right: 300px;
 
  right:100px
}

.tableauPlaceholder3 {
  margin: left 350pxl;
  margin: right 300pxl;
left: 275px;
margin-bottom:0px;
}

.container {
  width:700px;
  height:600px;
}

.title {
  margin-left: 400px;
  color:rgb(45, 43, 43);
}

.title0 {
  margin-left: 340px;
  color:rgb(45, 43, 43);
}

.title1 {
  margin-left:450px;
}

